{% extends 'base.html.twig' %}

{% block title %} =) {% endblock %}

{% block stylesheet_view %} 
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sticky-footer-navbar.css') }}" />
{% endblock %}
         
{% block menu %} 
			{% include 'menu.html.twig' %}
{% endblock %}

{% block body %}    
	

	<div class="container" style="margin-top:1%">
        
			<div class="hero-unit">
			  <h3>Lista de ayudas</h3>
			  <p>Si desea ingresar una nueva ayuda 
						<a href="{{  path('altaAyuda') }}" class="btn btn-primary btn-xs">
			      			Crear
			    		</a>
			 </p>
			</div>


			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Descripcion</th>
						<th>Funciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Beca economica</td>
						<td> 
							<div class="btn-group" role="group" aria-label="...">
							 
							 <a href="{{  path('modificarAyuda') }}" class="btn btn-warning btn-sm" title="Modificar">
							  		<span class="glyphicon glyphicon-edit"></span> 	
							 </a>	

							 <a href="{{  path('listadorAyudas') }}" class="btn btn-danger btn-sm" confirm="Desea realizar la eliminacion" title="Eliminar">
							  		<span class="glyphicon glyphicon-trash"></span> 	
							 </a>

							</div> 
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Beca de apuntes</td>
						<td> 
							<div class="btn-group" role="group" aria-label="...">
							 
							 <a href="{{  path('modificarAyuda') }}" class="btn btn-warning btn-sm" title="Modificar">
							  		<span class="glyphicon glyphicon-edit"></span> 	
							 </a>	

							 <a href="{{  path('listadorAyudas') }}" class="btn btn-danger btn-sm" confirm="Desea realizar la eliminacion" title="Eliminar">
							  		<span class="glyphicon glyphicon-trash"></span> 	
							 </a>

							</div> 
						</td>
					</tr>
				</tbody>
			</table>
		
    </div>

{% endblock %}  

{% block footer %} 
			{% include 'footer.html.twig' %}
{% endblock %}