{% extends 'base.html.twig' %}


{% block body %}    
	

	<div class="container" style="margin-top:1%">
        
		<div class="hero-unit">
		  <h3>Alta de Nacionalidad bienvenido</h3>
		</div>

		<form class="form-horizontal" action="/alta/nacionalidad/in/" role="form" method="POST">
				hola mundo
				<div class="form-group">
				    <label for="descripcion" class="col-lg-2 control-label">Descripcion</label>
				    <div class="col-lg-10">
				      <input type="text" name="descripcion" class="form-control" id="descripcion" placeholder="Ingrese descripcion">
				    </div>
				</div>	
				 
				<div class="form-group">
				    <div class="col-lg-offset-2 col-lg-10">
				      <button type="submit" class="btn btn-success">
				      <a href="" class="btn btn-danger" >Cancelar</a>
				    </div>
				</div>
		</form>
	</div>
	HOLA
	{{result}}

{% endblock %}  

