{% extends 'base.html.twig' %}

{% block title %} =) {% endblock %}

{% block stylesheet_view %} 
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sticky-footer-navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-dialog.min.css') }}" />
{% endblock %}
 
{% block script_view %}
    <script src="{{ asset('js/bootstrap-dialog.min.js') }}"></script>
{% endblock %}     

{% block menu %} 
			{% include 'menu.html.twig' %}
{% endblock %}

{% block body %}    
	

	<div class="container" style="margin-top:1%">
        
			<div class="hero-unit">
			  <h3>Modificar nacionalidad</h3>
			</div>
                            <!-- BootstrapDialog.confirm('¿Desea realizar la eliminacion?');" -->
			<form class="form-horizontal" role="form" >
	
					  <div class="form-group">
					    <label for="descripcion" class="col-lg-2 control-label">Descripcion</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" id="nombre" placeholder="Ingrese descripcion">
					    </div>
					  </div>	
					 
					 
					  <div class="form-group">
					    <div class="col-lg-offset-2 col-lg-10">
					      <button type="submit" class="btn btn-success" >Modificar</button>
					      <a href="{{  path('listadorNacionalidades') }}" class="btn btn-danger" >Cancelar</a>
					    </div>
					  </div>
			</form>


			

		
    </div>

{% endblock %}  

{% block footer %} 
			{% include 'footer.html.twig' %}
{% endblock %}