{% extends 'base.html.twig' %}

{% block body %}    
	
	<div class="container" style="margin-top:1%">
        
			<div class="hero-unit">
			  <h3>Alta de Persona</h3>
			</div>

			<form class="form-horizontal" role="form" method="POST" action="../../alta/persona/in/" >
	
					  <div class="form-group">
					    <label for="nombre" class="col-lg-2 control-label">Nombre</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingrese nombre" required="required">
					    </div>
					  </div>	

					  <div class="form-group">
					    <label for="apellido" class="col-lg-2 control-label">Apellido</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingrese apellido" required="required">
					    </div>
					  </div>	

					  <div class="form-group">
					    <label for="legajo" class="col-lg-2 control-label">Legajo</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" name="legajo" id="legajo" placeholder="Legajo" required="required">
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="email" class="col-lg-2 control-label">Email</label>
					    <div class="col-lg-10">
					      <input type="email" class="form-control" name="email" id="email" placeholder="email" required="required">
					    </div>
					  </div>
					 
					 <div class="form-group">
					    <label for="dni" class="col-lg-2 control-label">DNI</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" name="dni" id="dni" placeholder="Ingrese DNI" required="required">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="documento" class="col-lg-2 control-label">Perfil</label>
					    <div class="col-lg-10">
					      <select name="Perfil" id="Perfil">
					      {% for per in perfil %}
					      	<option value="{{per.idperfil}}">{{per.descripcion}}</option>
					      {% endfor %}	
					      </select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="password" class="col-lg-2 control-label">Contraseña</label>
					    <div class="col-lg-10">
					      <input type="password" class="form-control" name="password" id="password" placeholder="password" required="required">
					    </div>
					  </div>
					 
					  <div class="form-group">
					    <div class="col-lg-offset-2 col-lg-10">
					      <input type="submit" class="btn btn-success" value="Guardar">
					      <a href="" class="btn btn-danger" >Cancelar</a>
					    </div>
					  </div>
			</form>
	</div>

{% endblock %}  

