{% extends 'base.html.twig' %}

{% block body %}    
	<div class="container" style="margin-top:1%">
        
		<div class="hero-unit">
		  <h3>Alta de Tutor</h3>
		</div>
		
		<form class="form-horizontal" action="../../alta/tutor/in/" role="form" method="POST">
				<div class="form-group">
				    <label for="nombre" class="col-lg-2 control-label">Nombre</label>
				    <div class="col-lg-10">
				      <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required="required">
				    </div>
				</div>	
				<div class="form-group">
				    <label for="apellido" class="col-lg-2 control-label">Apellido</label>
				    <div class="col-lg-10">
				      <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" required="required">
				    </div>
				</div>
				<div class="form-group">
				    <label for="nombre" class="col-lg-2 control-label">Email</label>
				    <div class="col-lg-10">
				      <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="required">
				    </div>
				</div>
				<div class="form-group">
				    <label for="nombre" class="col-lg-2 control-label">Legajo</label>
				    <div class="col-lg-10">
				      <input type="text" class="form-control" name="legajo" id="legajo" placeholder="legajo - (Opcional)" >
				    </div>
				</div>
				<div class="form-group">
				    <label for="nombre" class="col-lg-2 control-label">DNI</label>
				    <div class="col-lg-10">
				      <input type="text" class="form-control" name="dni" id="dni" placeholder="Email" required="required">
				    </div>
				</div>

				 	
				  
				<div class="form-group">
				    <div class="col-lg-offset-2 col-lg-10">
				      <button type="submit" class="btn btn-success">Guardar</button>
				      <a href="" class="btn btn-danger" >Cancelar</a>
				    </div>
				</div>
		</form>
	</div>

{% endblock %}  
