{% extends 'base.html.twig' %}

{% block title %} =) {% endblock %}

{% block stylesheet_view %} 
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sticky-footer-navbar.css') }}" />
{% endblock %}
         
{% block menu %} 
			{% include 'menu.html.twig' %}
{% endblock %}

{% block body %}    

	

{% endblock %}  

{% block footer %} 
			{% include 'footer.html.twig' %}
{% endblock %}