{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <center><h3> Tutorias de Facultad de Medicina </h3></center>  
  </div>
  	
    <div class="jumbotron">
    	<article>
    		<p>Bienvenido al sistema de tutorias</p>
    	</article>
    </div>	
  
		</center>
  </div>  
</div>  
{% endblock %}           
      
   
        
      
    
 