{% extends 'base.html.twig' %}

{% block title %} =) {% endblock %}

{% block stylesheet_view %} 
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sticky-footer-navbar.css') }}" />
{% endblock %}
         
{% block menu %} 
			{% include 'menu.html.twig' %}
{% endblock %}

{% block body %}    
	

	<div class="container" style="margin-top:1%">
        
			<div class="hero-unit">
			  <h3>Lista de tutores</h3>
			  <p>Si desea ingresar un nuevo tutor  
						<a href="{{  path('altaTutor') }}" class="btn btn-primary btn-xs">
			      			Crear
			    		</a>
			 </p>
			</div>


			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th>Legajo</th>
						<th>DNI</th>
						<th>Funciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Rocky</td>
						<td>Balboa</td>
						<td>rockybalboa@mail.com</td>
						<td> </td>
						<td> 324324324 </td>
						<td> 
							<div class="btn-group" role="group" aria-label="...">
							 
							 <a href="{{  path('modificarTutor') }}" class="btn btn-warning btn-sm" title="Modificar">
							  		<span class="glyphicon glyphicon-edit"></span> 	
							 </a>	

							</div> 
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Peter</td>
						<td>Parker</td>
						<td>peterparker@mail.com</td>
						<td>32432/2</td>
						<td> 3243243454 </td>
						<td> 
							<div class="btn-group" role="group" aria-label="...">
								  <a href="{{path('modificarTutor')}}" class="btn btn-warning btn-sm" title="Modificar">
								  		<span class="glyphicon glyphicon-edit"></span> 	
								 </a>	
							</div> 
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>John</td>
						<td>Rambo</td>
						<td>johnrambo@mail.com</td>
						<td>755765/3</td>
						<td> 333333342 </td>
						<td> 
							<div class="btn-group" role="group" aria-label="...">
								  <a href="{{  path('modificarTutor')}}" class="btn btn-warning btn-sm" title="Modificar">
								  		<span class="glyphicon glyphicon-edit"></span> 	
								 </a>	
							</div> 
						</td>
					</tr>
				</tbody>
			</table>
		
    </div>

{% endblock %}  

{% block footer %} 
			{% include 'footer.html.twig' %}
{% endblock %}