{% extends 'base.html.twig' %}

{% block body %}    
	
	<div class="container" style="margin-top:1%">
        
			<div class="hero-unit">
			  <h3>  Mailer </h3>
			</div>

			<form class="form-horizontal" role="form" method="POST" action="../mailer/enviar/" >
					<div class="form-group">
					    <label for="asunto" class="col-lg-2 control-label">Asunto</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" name="asunto" id="asunto" placeholder="Ingrese nombre">
					    </div>
					</div>
					<div class="form-group">
					    <label for="cuerpo" class="col-lg-2 control-label">Mensaje</label>
					    <div class="col-lg-10">
					      <textarea name="cuerpo" class="form-control" id="cuerpo"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-lg-offset-2 col-lg-10">
					      <input type="submit" class="btn btn-success" value="Enviar">
					    </div>
					 </div>	
			</form>
	</div>

{% endblock %}  
