<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a  href="#">
            <img class="navbar-brand" src="{{ asset('images/logo.png') }}" />
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="">Home</a></li> <!-- class="active" -->
            <li><a href="">Tutor</a></li>
            <li><a href="">Alumno</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrador <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">Deporte</a></li>
                <li><a href="">Nacionalidad</a></li>
                <li><a href="">Disminucion</a></li>
                <li><a href="">Titulo</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Franja horaria</a></li>
                <li><a href="">Horas de trabajo</a></li>
              </ul>
            </li>
          </ul>
          
          <div class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Mariano <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="icon-cog"></i> Datos</a></li>
                            <li class="divider"></li>
                            <li><a href=""><i class="icon-off"></i> Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
          
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>