{% extends 'base.html.twig' %}

{% block title %} =) {% endblock %}

{% block stylesheet_view %} 
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sticky-footer-navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-dialog.min.css') }}" />
{% endblock %}
 
{% block script_view %}
    <script src="{{ asset('js/bootstrap-dialog.min.js') }}"></script>
{% endblock %}     

{% block menu %} 
			{% include 'menu.html.twig' %}
{% endblock %}

{% block body %}    
	

	<div class="container" style="margin-top:1%">
        
			<div class="hero-unit">
			  <h3>Modificar tutor</h3>
			</div>
                            <!-- BootstrapDialog.confirm('¿Desea realizar la eliminacion?');" -->
			<form class="form-horizontal" role="form" 
							onSubmit=" BootstrapDialog.confirm('Hi Apple, are you sure?', function(result){
            							if(result) {
                							return true;
            							}else {
                							return false;
            							}
        							}); " >
	
					  <div class="form-group">
					    <label for="nombre" class="col-lg-2 control-label">Nombre</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre">
					    </div>
					  </div>	

					  <div class="form-group">
					    <label for="apellido" class="col-lg-2 control-label">Apellido</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido">
					    </div>
					  </div>	

					  <div class="form-group">
					    <label for="email" class="col-lg-2 control-label">Email</label>
					    <div class="col-lg-10">
					      <input type="email" class="form-control" id="email" placeholder="Ingrese email">
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="email" class="col-lg-2 control-label">Legajo</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" id="legajo" placeholder="Ingrese legajo">
					    </div>
					  </div>
					 
					  <div class="form-group">
					    <label for="documento" class="col-lg-2 control-label">DNI</label>
					    <div class="col-lg-10">
					      <input type="text" class="form-control" id="ducumento" placeholder="Ingrese DNI">
					    </div>
					  </div>
					 
					  <div class="form-group">
					    <div class="col-lg-offset-2 col-lg-10">
					      <button type="submit" class="btn btn-success" >Modificar</button>
					      <a href="{{  path('listadorTutores') }}" class="btn btn-danger" >Cancelar</a>
					    </div>
					  </div>
			</form>


			

		
    </div>

{% endblock %}  

{% block footer %} 
			{% include 'footer.html.twig' %}
{% endblock %}