{% extends 'base.html.twig' %}
{% block body %}
 
 <div class="container">
    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"><b><h4>Acceder a TUTORIAS </h4><b></div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px;"><a href="#" style="color: #eee;" >Olvidaste el password?</a></div>
                    </div>     
                       
                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            {% if estado == 'ok' %}
                                <div class="alert alert-success">
                                    <strong>Bienvenido a Sistema Tutorias {{usuario}}</strong> .
                                </div>
                            {% elseif estado == 'error' %}
                                <div class="alert alert-danger">
                                    <strong></strong> Error de login.
                                </div>
                            {% endif %}            
                        </div>                     
                    </div>  
        </div>
      
    </div> 



{% endblock %}      