{% extends 'base.html.twig' %}
{% block body %}
 
 {% block menu %} 
    {% if tipo == 'Administrador' %}
        {% include 'menu_admin.html.twig' %}    
    {% elseif tipo == 'Tutor' %}
        {% include 'menu_tutor.html.twig' %}
    {% elseif tipo == 'Coordinadora' %}
        {% include 'menu_coord.html.twig' %}
    {% elseif tipo == 'Alumno' %}
        {% include 'menu_alumno.html.twig' %}
    {% endif %} 
{% endblock %}
<br>
<br>
<br>
 <div class="container">
    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"><b><h4>Acceder a TUTORIAS </h4><b></div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px;"><a href="#" style="color: #eee;" >Olvidaste el password?</a></div>
                    </div>     
                       
                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            {% if estado == 'ok' %}
                                {% if tipo == 'Administrador' %}
                                    <div class="alert alert-success">
                                        <strong>Bienvenido a Sistema Tutorias {{usuario}} como Administrador</strong>.
                                        <br> 
                                        <strong>{{tipo}}</strong>

                                    </div>
                                {% elseif tipo == 'Tutor' %}
                                    <div class="alert alert-success">
                                        <strong>Bienvenido a Sistema Tutorias {{usuario}} como Tutor</strong>.
                                        <br> 
                                        <strong>{{tipo}}</strong>
                                    </div>

                                {% elseif tipo == 'Coordinadora' %}
                                    <div class="alert alert-success">
                                        <strong>Bienvenido a Sistema Tutorias {{usuario}} como Coordinador</strong>.
                                        <br> 
                                        <strong>{{tipo}}</strong> 
                                    </div>
                                {% elseif tipo == 'Alumno' %}
                                    <div class="alert alert-success">
                                        <strong>Bienvenido a Sistema Tutorias {{usuario}} como Alumno</strong>.
                                        <br> 
                                        <strong>{{tipo}}</strong>
                                    </div>
                                {% endif %}        
                            {% elseif estado == 'error' %}
                                <div class="alert alert-danger">
                                    <strong></strong> Error de login.
                                    <br>
                                    
                                </div>
                            {% endif %}            
                        </div>                     
                    </div>  
        </div>
      
    </div> 



{% endblock %}      